<!DOCTYPE HTML>
<html xml:lang xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>
            
        </title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8; width-device-width, initial-scale-1.0"/>
    </head>
    <body>

        <p>Conguraturation of Pass!</p>
        <p th:text="${username}"></p>
        <p>Click Next Button!</p>
        <form action="/list" method="GET" id="throwUsername">
            <input type="hidden" th:value="${username}" name="username">
            <input type="hidden" value="" name="newtitle">
            <button type="submit">Next</button>
        </form>
    </body>
</html>